services:
  backtesting:
    build: ./services/backtesting
    networks:
      - quant-lab-net

  optimization:
    build: ./services/optimization
    networks:
      - quant-lab-net
      
  redpanda:
    image: redpandadata/redpanda:latest
    container_name: redpanda
    command: >
      redpanda start
        --overprovisioned
        --smp 1
        --memory 512M
        --reserve-memory 0M
        --node-id 0
        --check=false
        --kafka-addr PLAINTEXT://0.0.0.0:9092
        --advertise-kafka-addr PLAINTEXT://redpanda:9092
    ports:
      - "9092:9092"   # Port Kafka (pour les clients)
      - "9644:9644"   # Port Admin API (monitoring, introspection)
    networks:
      - quant-lab-net

networks:
  quant-lab-net:
    driver: bridge
